@model IEnumerable<Badges.Models.Category>

<h2>Categories</h2>

@foreach (var category in Model)
{
    <div class="card">
        <div class="card-top"></div>
        <img src="@(category.Image?.ImageString)" />
        <h3>@category.Name</h3>
        <p>@category.Description</p>
        @Html.ActionLink("View", "Details", new { id = category.Id}, new { @class = "card-bottom"})
    </div>
}